version: 2.1

executors:
  default:
    docker:
      - image: cimg/php:7.4
    resource_class: small

orbs:
  composer: stockfiller/composer@<<pipeline.parameters.dev-orb-version>>
  orb-tools: circleci/orb-tools@10.0
  bats: circleci/bats@1.0
  shellcheck: circleci/shellcheck@2.0

# These parameters are used internally by orb-tools. Skip to the Jobs section.
parameters:
  run-integration-tests:
    description: An internal flag to prevent integration test from running before a development version has been created.
    type: boolean
    default: false
  dev-orb-version:
    description: >-
      The development version of the orb to test.
      This value is automatically adjusted by the "trigger-integration-tests-workflow" job to correspond with the specific version created by the commit and should not be edited.
      A "dev:alpha" version must exist for the initial pipeline run.
    type: string
    default: "dev:alpha"

jobs:
  integration-test:
    executor: default
    steps:
      - checkout
      - run: |-
          cp tests/composer.json composer.json
          mkdir -p /tmp/composer
      # Test install Composer globally
      - composer/install_bin:
          install-dir: /tmp/composer
      # Test working directory and flag
      - composer/install:
          working-dir: tests
          classmap-authoritative: true
      # Test global Composer
      - composer/install:
          bin: /tmp/composer/composer
      # Test disable cache
      - composer/install:
          cache-version: ""
      # Test default values
      - composer/install
  deploy:
    executor: default
    steps:
      - checkout
      - orb-tools/pack
      - orb-tools/publish:
          orb-ref: stockfiller/composer@${CIRCLE_TOKEN}
      - store_artifacts:
          path: orb.yml

workflows:
  test-pack:
    unless: << pipeline.parameters.run-integration-tests >>
    jobs:
      - orb-tools/lint:
          filters: &filters
            tags:
              only: /^[0-9]+\.[0-9]+\.[0-9]+$/
            branches:
              only: /.+/
      - orb-tools/pack:
          filters: *filters
      - shellcheck/check:
          filters: *filters
          dir: ./src/scripts
          exclude: SC2148
      - orb-tools/publish-dev:
          filters: *filters
          orb-name: stockfiller/composer
          context: orb-publishing
          requires:
            - orb-tools/lint
            - orb-tools/pack
            - shellcheck/check
      - trigger_integration_deploy_workflow:
          filters: *filters
          context: [ orb-publishing ]
          requires: [ orb-tools/publish-dev ]

  integration-test_deploy:
    when: << pipeline.parameters.run-integration-tests >>
    jobs:
      - integration-test:
          filters: *filters
      - orb-tools/trigger-integration-tests-workflow:
          pre-steps:
            - run:
              name: Use tag or branch
              command: |-
                if [ -z "${CIRCLE_TAG}" ]; then
                  echo "export CIRCLE_BRANCH=${CIRCLE_TAG}" >> $BASH_ENV
                fi
          requires: [ integration-test ]
          filters: *filters
